include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body.body-modal-open
		include ../common/preloader
		.main
			include ../common/header
			include ../common/1home
			include ../common/2catalog
			.vasabi
				img(src="img/vasabi.png", alt="vasabi")
		include ../common/footer
	// END body