.home {
    position: relative; 
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 1919px) {
        overflow: hidden;
    }
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {

    }
    @media screen and (max-width: 749px){

    }
    .wrap {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__body {
        width: 38%;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {

        }
        @media screen and (max-width: 749px){

        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__title {
        font-family: "BlackerDisplay", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 34px;
        line-height: 54px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {

        }
        @media screen and (max-width: 749px){

        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__subtitle {
        font-size: 18px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.8);
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {

        }
        @media screen and (max-width: 749px){

        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }

    }
    &__group {
        display: flex;
        align-items: center;
    }
    &__btn {
        display: flex;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {

        }
        @media screen and (max-width: 749px){

        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__items {
        display: flex;
        font-size: 18px;
        line-height: 24px;
    }
    &__item {
        display: flex;
        align-items: center;
        &+.home__item {
            margin-left: 20px;
        }
    }
    &__icon {
        margin-right: 20px;
        svg {
            max-width: 40px;
            max-height: 40px;
            fill: #fff;
        }

    }
    &__name {
        max-width: 95px;
    }
    &-slider {
        width: 62%;
        display: flex;
        &__nav-items {
            width: 40%;
        }
        &__items {
            width: 60%;
            margin-left: -30px;

        // .slick-active {
        //     .home-slider__price {
        //         opacity: 1;
        //     }
        // }
        }
        &__pic {
            img {
                max-width: 100%;
            }
        }
        &__title {

        }
        &__name {
            color: rgba(255, 255, 255, 0.8);
        }
        &__price {
            font-weight: 600;
            color: #fff;
            opacity: 0;
            transition: 0.3s;
        }
    }
    .slick-current {
        .home-slider__price {
            opacity: 1;
        }
    }

}
.social {
    display: flex;
    margin-left: 30px;
    svg {
        width: 20px;
        height: 20px;
        fill: #fff;
        transition: 0.3s;
    }
    &__item {
        display: block;
        opacity: 0.5;
        padding: 10px;
        &:hover {
            opacity: 1;
        }
    }
}

.icon {
    display: flex;
}
.vasabi {
    position: absolute;
    bottom: -8px;
    left: 0;
    &:after {
        content: "";
        position: absolute;
        top: -13px;
        left: 0;
        width: 236px;
        height: 179px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='237' height='179' viewBox='0 0 237 179' fill='none'%3e%3cpath d='M236.5 176C236.5 175.329 236.496 174.659 236.489 173.991L235.989 173.996C235.959 171.324 235.869 168.667 235.72 166.025L236.219 165.997C236.144 164.66 236.053 163.327 235.948 161.998L235.45 162.038C235.239 159.375 234.968 156.729 234.639 154.101L235.135 154.039C234.97 152.715 234.789 151.395 234.594 150.08L234.099 150.154C233.707 147.512 233.256 144.89 232.746 142.288L233.237 142.192C232.98 140.88 232.709 139.574 232.423 138.273L231.935 138.38C231.363 135.774 230.732 133.19 230.044 130.63L230.527 130.5C230.181 129.209 229.82 127.925 229.445 126.646L228.965 126.787C228.214 124.228 227.407 121.693 226.544 119.184L227.016 119.021C226.582 117.76 226.134 116.505 225.673 115.257L225.204 115.43C224.279 112.93 223.298 110.457 222.264 108.013L222.724 107.818C222.203 106.587 221.669 105.364 221.121 104.147L220.665 104.353C219.57 101.924 218.422 99.5241 217.221 97.1554L217.667 96.9294C217.064 95.7393 216.447 94.557 215.818 93.3826L215.377 93.6189C214.119 91.2715 212.808 88.956 211.447 86.674L211.876 86.4179C211.193 85.2717 210.497 84.134 209.788 83.0049L209.364 83.2707C207.949 81.016 206.483 78.7957 204.969 76.6114L205.38 76.3266C204.62 75.2299 203.847 74.1423 203.063 73.064L202.659 73.3581C201.093 71.2059 199.479 69.0905 197.819 67.0137L198.21 66.7015C197.377 65.6596 196.533 64.6273 195.677 63.6049L195.293 63.9258C193.586 61.8856 191.832 59.8848 190.034 57.9249L190.403 57.5869C189.501 56.6039 188.588 55.6312 187.665 54.6689L187.304 55.0152C185.462 53.0962 183.577 51.219 181.65 49.3851L181.995 49.0229C181.028 48.1034 180.052 47.1948 179.065 46.2972L178.728 46.6671C176.761 44.878 174.753 43.1329 172.705 41.4333L173.025 41.0486C171.999 40.1971 170.963 39.3571 169.918 38.5286L169.607 38.9205C167.524 37.2694 165.402 35.6646 163.243 34.1076L163.535 33.702C162.454 32.922 161.363 32.154 160.263 31.3981L159.98 31.8102C157.79 30.3049 155.564 28.848 153.304 27.441L153.568 27.0165C152.436 26.3121 151.296 25.6202 150.147 24.9408L149.893 25.3712C147.606 24.0189 145.285 22.7169 142.933 21.4667L143.168 21.0252C141.991 20.3999 140.807 19.7875 139.615 19.1882L139.39 19.6349C137.018 18.4424 134.614 17.302 132.181 16.2152L132.385 15.7586C131.168 15.2146 129.943 14.684 128.71 14.167L128.517 14.628C126.069 13.6009 123.593 12.6276 121.09 11.7095L121.262 11.2401C120.013 10.7818 118.757 10.3373 117.495 9.90668L117.333 10.3799C114.822 9.52333 112.286 8.72194 109.725 7.97719L109.864 7.49708C108.585 7.12495 107.299 6.76691 106.007 6.42316L105.879 6.90634C103.317 6.22441 100.731 5.59885 98.1246 5.03105L98.231 4.54251C96.9297 4.25907 95.623 3.98999 94.3111 3.73544L94.2159 4.22628C91.6133 3.7213 88.9902 3.27367 86.348 2.88475L86.4208 2.39008C85.1059 2.19654 83.7862 2.01749 82.462 1.85312L82.4004 2.34931C79.772 2.02306 77.1256 1.75476 74.4625 1.54574L74.5016 1.04728C73.1727 0.942969 71.8395 0.853383 70.5025 0.778681L70.4746 1.2779C67.8328 1.13031 65.1755 1.04098 62.5038 1.01117L62.5094 0.511204C61.8405 0.503741 61.1707 0.5 60.5 0.5C59.8293 0.5 59.1595 0.503741 58.4905 0.511204L58.4961 1.01117C55.8245 1.04098 53.1671 1.13031 50.5254 1.2779L50.4975 0.778683C49.1604 0.853386 47.8273 0.942972 46.4984 1.04728L46.5375 1.54575C43.8744 1.75477 41.228 2.02306 38.5996 2.34931L38.538 1.85312C37.2138 2.0175 35.8941 2.19654 34.5792 2.39008L34.652 2.88475C32.0097 3.27367 29.3866 3.7213 26.7841 4.22629L26.6888 3.73544C25.3769 3.98999 24.0702 4.25908 22.7689 4.54251L22.8753 5.03106C20.2685 5.59885 17.6833 6.22442 15.1212 6.90634L14.9926 6.42317C13.7011 6.76692 12.4154 7.12495 11.1358 7.49709L11.2754 7.9772C8.71443 8.72195 6.17767 9.52334 3.66658 10.3799L3.50516 9.90669C2.2428 10.3373 0.986908 10.7818 -0.262329 11.2401L-0.0901413 11.7095C-2.59303 12.6276 -5.06913 13.6009 -7.51697 14.628L-7.71043 14.167C-8.94263 14.684 -10.1677 15.2146 -11.3854 15.7586L-11.1815 16.2152C-13.6143 17.302 -16.0177 18.4424 -18.3902 19.635L-18.6148 19.1882C-19.807 19.7875 -20.9915 20.3999 -22.1681 21.0252L-21.9334 21.4667C-24.2855 22.7169 -26.6058 24.0189 -28.8926 25.3713L-29.1471 24.9409C-30.2958 25.6202 -31.4361 26.3121 -32.5678 27.0166L-32.3036 27.4411C-34.564 28.8481 -36.79 30.305 -38.98 31.8102L-39.2632 31.3981C-40.363 32.154 -41.4538 32.9221 -42.5353 33.7021L-42.2428 34.1076C-44.4017 35.6646 -46.5236 37.2695 -48.6071 38.9205L-48.9176 38.5287C-49.963 39.3571 -50.9987 40.1972 -52.0246 41.0486L-51.7053 41.4334C-53.7529 43.1329 -55.7611 44.878 -57.7284 46.6671L-58.0648 46.2972C-59.0517 47.1948 -60.0284 48.1035 -60.9946 49.023L-60.6499 49.3852C-62.5769 51.2191 -64.4622 53.0963 -66.304 55.0152L-66.6648 54.669C-67.5884 55.6312 -68.5011 56.604 -69.4028 57.587L-69.0343 57.9249C-70.832 59.8848 -72.5856 61.8857 -74.2935 63.9259L-74.6769 63.6049C-75.5328 64.6273 -76.3772 65.6596 -77.21 66.7016L-76.8195 67.0138C-78.4794 69.0906 -80.0929 71.2059 -81.6585 73.3582L-82.0629 73.064C-82.8473 74.1424 -83.6197 75.23 -84.3799 76.3266L-83.9689 76.6115C-85.4831 78.7957 -86.9487 81.016 -88.3642 83.2707L-88.7877 83.0049C-89.4966 84.134 -90.1929 85.2718 -90.8765 86.4179L-90.4471 86.6741C-91.8082 88.956 -93.1187 91.2715 -94.3771 93.6189L-94.8177 93.3827C-95.4473 94.557 -96.0638 95.7393 -96.6671 96.9294L-96.2211 97.1555C-97.422 99.5242 -98.5704 101.924 -99.6649 104.353L-100.121 104.147C-100.669 105.364 -101.203 106.587 -101.724 107.818L-101.264 108.013C-102.298 110.457 -103.279 112.93 -104.204 115.43L-104.673 115.257C-105.134 116.505 -105.582 117.76 -106.016 119.021L-105.544 119.184C-106.407 121.693 -107.214 124.228 -107.965 126.787L-108.445 126.646C-108.82 127.925 -109.181 129.209 -109.527 130.5L-109.044 130.63C-109.732 133.191 -110.363 135.774 -110.935 138.38L-111.423 138.273C-111.709 139.574 -111.98 140.88 -112.237 142.192L-111.746 142.288C-112.256 144.89 -112.707 147.512 -113.099 150.154L-113.594 150.08C-113.789 151.395 -113.97 152.715 -114.135 154.039L-113.639 154.101C-113.968 156.729 -114.239 159.375 -114.45 162.038L-114.948 161.998C-115.053 163.327 -115.144 164.66 -115.219 165.997L-114.72 166.025C-114.869 168.667 -114.959 171.324 -114.989 173.996L-115.489 173.991C-115.496 174.659 -115.5 175.329 -115.5 176C-115.5 176.671 -115.496 177.341 -115.489 178.009L-114.989 178.004C-114.959 180.676 -114.869 183.333 -114.72 185.975L-115.219 186.003C-115.144 187.34 -115.053 188.673 -114.948 190.002L-114.45 189.962C-114.239 192.625 -113.968 195.271 -113.639 197.899L-114.135 197.961C-113.97 199.285 -113.789 200.605 -113.594 201.92L-113.099 201.846C-112.707 204.488 -112.256 207.11 -111.746 209.712L-112.237 209.808C-111.98 211.12 -111.709 212.426 -111.423 213.727L-110.935 213.62C-110.363 216.226 -109.732 218.81 -109.044 221.37L-109.527 221.5C-109.181 222.791 -108.82 224.075 -108.445 225.354L-107.965 225.213C-107.214 227.772 -106.407 230.307 -105.544 232.816L-106.016 232.979C-105.582 234.24 -105.134 235.495 -104.673 236.743L-104.204 236.57C-103.279 239.07 -102.298 241.543 -101.264 243.988L-101.724 244.182C-101.203 245.413 -100.669 246.636 -100.121 247.853L-99.6649 247.647C-98.5704 250.076 -97.422 252.476 -96.2211 254.845L-96.6671 255.071C-96.0638 256.261 -95.4472 257.443 -94.8177 258.617L-94.377 258.381C-93.1186 260.729 -91.8082 263.044 -90.4471 265.326L-90.8765 265.582C-90.1929 266.728 -89.4965 267.866 -88.7877 268.995L-88.3642 268.729C-86.9487 270.984 -85.4831 273.204 -83.9689 275.389L-84.3798 275.673C-83.6196 276.77 -82.8472 277.858 -82.0628 278.936L-81.6585 278.642C-80.0929 280.794 -78.4794 282.909 -76.8194 284.986L-77.21 285.298C-76.3772 286.34 -75.5328 287.373 -74.6769 288.395L-74.2935 288.074C-72.5856 290.114 -70.832 292.115 -69.0343 294.075L-69.4027 294.413C-68.5011 295.396 -67.5883 296.369 -66.6647 297.331L-66.304 296.985C-64.4621 298.904 -62.5769 300.781 -60.6499 302.615L-60.9946 302.977C-60.0284 303.897 -59.0517 304.805 -58.0648 305.703L-57.7283 305.333C-55.7611 307.122 -53.7529 308.867 -51.7052 310.567L-52.0246 310.951C-50.9987 311.803 -49.963 312.643 -48.9176 313.471L-48.607 313.079C-46.5236 314.731 -44.4016 316.335 -42.2428 317.892L-42.5352 318.298C-41.4537 319.078 -40.363 319.846 -39.2632 320.602L-38.98 320.19C-36.79 321.695 -34.564 323.152 -32.3035 324.559L-32.5678 324.983C-31.4361 325.688 -30.2958 326.38 -29.147 327.059L-28.8925 326.629C-26.6057 327.981 -24.2855 329.283 -21.9334 330.533L-22.168 330.975C-20.9915 331.6 -19.807 332.213 -18.6147 332.812L-18.3902 332.365C-16.0176 333.558 -13.6142 334.698 -11.1815 335.785L-11.3854 336.241C-10.1677 336.785 -8.9426 337.316 -7.7104 337.833L-7.51694 337.372C-5.0691 338.399 -2.593 339.372 -0.0901184 340.291L-0.262306 340.76C0.986938 341.218 2.24283 341.663 3.50519 342.093L3.66662 341.62C6.1777 342.477 8.71445 343.278 11.2754 344.023L11.1358 344.503C12.4155 344.875 13.7011 345.233 14.9927 345.577L15.1213 345.094C17.6834 345.776 20.2685 346.401 22.8754 346.969L22.769 347.457C24.0703 347.741 25.377 348.01 26.6889 348.265L26.7841 347.774C29.3866 348.279 32.0098 348.726 34.652 349.115L34.5792 349.61C35.8941 349.803 37.2138 349.983 38.538 350.147L38.5996 349.651C41.228 349.977 43.8744 350.245 46.5375 350.454L46.4984 350.953C47.8273 351.057 49.1605 351.147 50.4975 351.221L50.5254 350.722C53.1671 350.87 55.8245 350.959 58.4962 350.989L58.4906 351.489C59.1595 351.496 59.8293 351.5 60.5 351.5C61.1707 351.5 61.8405 351.496 62.5095 351.489L62.5039 350.989C65.1755 350.959 67.8329 350.87 70.4746 350.722L70.5025 351.221C71.8396 351.147 73.1727 351.057 74.5016 350.953L74.4625 350.454C77.1256 350.245 79.772 349.977 82.4004 349.651L82.462 350.147C83.7862 349.983 85.1059 349.803 86.4208 349.61L86.348 349.115C88.9903 348.726 91.6134 348.279 94.2159 347.774L94.3112 348.265C95.6231 348.01 96.9298 347.741 98.2311 347.457L98.1247 346.969C100.731 346.401 103.317 345.776 105.879 345.094L106.007 345.577C107.299 345.233 108.585 344.875 109.864 344.503L109.725 344.023C112.286 343.278 114.822 342.477 117.333 341.62L117.495 342.093C118.757 341.663 120.013 341.218 121.262 340.76L121.09 340.291C123.593 339.372 126.069 338.399 128.517 337.372L128.71 337.833C129.943 337.316 131.168 336.785 132.385 336.241L132.181 335.785C134.614 334.698 137.018 333.558 139.39 332.365L139.615 332.812C140.807 332.212 141.992 331.6 143.168 330.975L142.933 330.533C145.286 329.283 147.606 327.981 149.893 326.629L150.147 327.059C151.296 326.38 152.436 325.688 153.568 324.983L153.304 324.559C155.564 323.152 157.79 321.695 159.98 320.19L160.263 320.602C161.363 319.846 162.454 319.078 163.535 318.298L163.243 317.892C165.402 316.335 167.524 314.731 169.607 313.079L169.918 313.471C170.963 312.643 171.999 311.803 173.025 310.951L172.705 310.567C174.753 308.867 176.761 307.122 178.728 305.333L179.065 305.703C180.052 304.805 181.028 303.897 181.995 302.977L181.65 302.615C183.577 300.781 185.462 298.904 187.304 296.985L187.665 297.331C188.588 296.369 189.501 295.396 190.403 294.413L190.034 294.075C191.832 292.115 193.586 290.114 195.294 288.074L195.677 288.395C196.533 287.373 197.377 286.34 198.21 285.298L197.819 284.986C199.479 282.909 201.093 280.794 202.659 278.642L203.063 278.936C203.847 277.858 204.62 276.77 205.38 275.673L204.969 275.389C206.483 273.204 207.949 270.984 209.364 268.729L209.788 268.995C210.497 267.866 211.193 266.728 211.877 265.582L211.447 265.326C212.808 263.044 214.119 260.729 215.377 258.381L215.818 258.617C216.447 257.443 217.064 256.261 217.667 255.071L217.221 254.845C218.422 252.476 219.57 250.076 220.665 247.647L221.121 247.853C221.669 246.636 222.203 245.413 222.724 244.182L222.264 243.987C223.298 241.543 224.279 239.07 225.204 236.57L225.673 236.743C226.134 235.495 226.582 234.24 227.016 232.979L226.544 232.816C227.407 230.307 228.214 227.772 228.965 225.213L229.445 225.354C229.82 224.075 230.181 222.791 230.527 221.5L230.044 221.37C230.732 218.809 231.363 216.226 231.935 213.62L232.423 213.727C232.709 212.426 232.98 211.12 233.237 209.808L232.746 209.712C233.256 207.11 233.707 204.488 234.099 201.846L234.594 201.92C234.789 200.605 234.97 199.285 235.135 197.961L234.639 197.899C234.968 195.271 235.239 192.625 235.45 189.962L235.948 190.002C236.053 188.673 236.144 187.34 236.219 186.003L235.72 185.975C235.869 183.333 235.959 180.676 235.989 178.004L236.489 178.009C236.496 177.341 236.5 176.671 236.5 176Z' stroke='url(%23paint0_linear)' stroke-dasharray='4 8'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear' x1='17.118' y1='80.6171' x2='286.332' y2='205.488' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    }
}