nav {
    a {
        color: #fff;
        @media screen and (max-width: 749px){
            color: #090f21;
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header {
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    @media screen and (max-height: 850px) and  (min-width: 1081px) {
        padding-top: 10px;
    }
}
.header {
    &__group {
        display: flex;
        @media only screen and (max-width: 785px) {
            justify-content: center;
        }

    }
    &__contacts {
        padding-right: 16px;
        @media only screen and (max-width: 785px) {
            padding-left: 30px;
        }
    }
    &__phone {
        font-size: 20px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 18px;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            font-size: 18px;
        }
        @media only screen and (max-width: 785px) {
            font-size: 25px;
            padding: 20px;
        }
    }
    &__location {
        position: relative;
        padding-left: 30px;
        margin-right: auto;
        @media screen and (max-width: 1065px) {
            display: none;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3e%3cpath d='M12 10.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z' fill='%23FF8031'/%3e%3cpath d='M12 1.5c-4.135 0-7.5 3.218-7.5 7.172 0 1.883.858 4.387 2.55 7.443 1.36 2.453 2.933 4.672 3.75 5.776a1.49 1.49 0 002.402 0c.816-1.104 2.39-3.323 3.75-5.776 1.69-3.055 2.548-5.56 2.548-7.443C19.5 4.718 16.135 1.5 12 1.5zM12 12a3 3 0 110-5.999A3 3 0 0112 12z' fill='%23FF8031'/%3e%3c/svg%3e");
        }
    }
    &__order {
        color: $accent;
        text-decoration: underline;
        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }
    &__cart {
        display: flex;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 9px;
            right: -4px;
            width: 10px;
            height: 10px;
            background: #FF8031;
            border-radius: 50%;
        }
        &.active {

        }
        svg {
            fill: #fff;
            width: 30px;
            height: 30px;
            margin: auto;
        }

    }
}
.logo {
    img {
        width: 104px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 84px;
        }
        @media screen and (max-width: 749px){

        }
    	@media screen and (max-height: 850px) and  (min-width: 1081px) {
            width: 95px;
        }
    }
}


