@import "vars";


.menu-wrap {
    flex-grow: 1;
}
.menu-toggle {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    font-size: 16px;
    font-weight: 600;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        font-size: 14px;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {
        font-size: 14px;
    }
    @media only screen and (max-width: 785px) {
        font-size: 15px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a  {
        display: flex;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        a {
            position: relative;
            padding: 15px;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                padding: 11px;
            }
            @media screen and (max-height: 850px) and  (min-width: 1081px) {
                padding: 9px;
            }
            @media only screen and (max-width: 785px) {
                padding: 12px;
            }
            &:before {
                content: "";
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 9px;
                left: 50%;
                background: #fff;
                transition: all 0.3s;
            }
            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                    background: $accent;
                }
            }
        }
        li.active {
            a {
                color: $accent;
            }
        }
    }
}
@media only screen and (max-width: 785px) {
    .menu-toggle {
        display: block;
        width: 26px;
        height: 23px;
        position: absolute;
        top: -12px;
        right: 0;
        cursor: pointer;
        z-index: 4;
        .one, .two, .three {
            width: 100%;
            height: 3px;
            background: #fff;
            margin: 4px auto;
            backface-visibility: hidden;
            transition-duration: .3s;
        }
        &.active {
            .one,
            .three {
                margin: 8px auto;
            }
            .one {
                transform: rotate(45deg) translate(0,1px);
            }
            .two {
                opacity: 0;
            }
            .three {
                transform: rotate(-45deg) translate(14px,-15px);
            }
        }
    }
    .main-menu {
        display: none;
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.85);
            z-index: 3;
            right: 0;
            top: 0;
            .main-menu__wrap {
                display: block;
                color: #fff;
                padding: 31px 6px;
                // flex-direction: column;
                align-items: center;
                text-align: center;
                border-radius: 7px;
                a {
                    color: #fff;
                    justify-content: center;
                }
            } 
            .main-menu__items {
                display: block;
            }
        }
    }
    .menu-wrap {
        position: absolute;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

}
