section.home
    .wrap
        .home__body 
            .home__title.animated-parent
                span.home__title-text.letters Бесконтактная доставка суши и роллов в Нижнем Новгороде 
            .home__subtitle Получите скидку на 20% на первый заказ на все меню ресторана
            .home__group
                .home__btn
                    .si-button-pulse 
                        a(href="#modalQuiz").btn.modal-open.blick
                            span Заказать со скидкой
                .social
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/instagram.svg#instagram')
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/facebook.svg#fb')
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/vk.svg#vk')

        .home__slider


