section.home
    .wrap
        .home__body 
            .home__title.animated-parent
                span.home__title-text.letters Бесконтактная доставка суши и роллов в Нижнем Новгороде 
            .home__subtitle Получите скидку на 20% на первый заказ на все меню ресторана
            .home__group
                .home__btn
                    .si-button-pulse 
                        a(href="#modalQuiz").btn.modal-open.blick
                            span Заказать со скидкой
                .social
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/instagram.svg#instagram')
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/facebook.svg#fb')
                    a.social__item(href="#")
                        svg.icon
                            use(xlink:href='img/icons/vk.svg#vk')
            .home__items
                .home__item
                    .home__icon
                        svg.icon
                            use(xlink:href='img/icons/rolls.svg#rolls')
                    .home__name Свежие продукты
                .home__item
                    .home__icon
                        svg.icon
                            use(xlink:href='img/icons/sushi.svg#sushi')
                    .home__name Большой выбор
                .home__item
                    .home__icon
                        svg.icon
                            use(xlink:href='img/icons/credit-card.svg#credit-card')
                    .home__name Онлайн оплата

        .home-slider
            .home-slider__nav-items
                .home-slider__wrap
                    .home-slider__nav-item
                        .home-slider__title 
                            span.home-slider__name Салат <br>Эби ясай
                            .home-slider__price 1750P
                        span.slider-circle +
                .home-slider__wrap
                    .home-slider__nav-item
                        .home-slider__title 
                            span.home-slider__name Горячий ролл <br>Филадельфия Black
                            .home-slider__price 1750P
                        span.slider-circle +
                .home-slider__wrap
                    .home-slider__nav-item
                        .home-slider__title 
                            span.home-slider__name Удон с <br>морепродуктами
                            .home-slider__price 1750P
                        span.slider-circle +
                .home-slider__wrap
                    .home-slider__nav-item
                        .home-slider__title 
                            span.home-slider__name Самурай
                            .home-slider__price 1750P
                        span.slider-circle +
            .home-slider__items
                .home-slider__item
                    .home-slider__pic
                        img(src="img/slider-item.png", alt="sushi")
                    .home-slider__nav-item
                        span.slider-circle +
                        .home-slider__title.mob
                            .home-slider__name Салат Эби ясай
                            .home-slider__price 1750P
                .home-slider__item
                    .home-slider__pic
                        img(src="img/salat.png", alt="sushi")
                    .home-slider__nav-item
                        span.slider-circle +
                        .home-slider__title.mob
                            .home-slider__name Горячий ролл Филадельфия Black
                            .home-slider__price 1750P
                .home-slider__item
                    .home-slider__pic
                        img(src="img/slider-item.png", alt="sushi")
                    .home-slider__nav-item
                        span.slider-circle +
                        .home-slider__title.mob
                            .home-slider__name Удон с морепродуктами
                            .home-slider__price 1750P
                .home-slider__item
                    .home-slider__pic
                        img(src="img/salat.png", alt="sushi")
                    .home-slider__nav-item
                        span.slider-circle +
                        .home-slider__title
                            .home-slider__name Самурай
                            .home-slider__price 1750P
            .home-slider__count
                span 0
                span.current 1
                span  / 
                span.total 04


