section.catalog
    .wrap
        .catalog__items
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--sushi
                    .catalog__name Суши
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--rolls
                    .catalog__name Роллы
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--sets
                    .catalog__name Сеты
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--soup
                    .catalog__name Супы
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--salats
                    .catalog__name Салаты
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--lapsha
                    .catalog__name Лапша
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--deserts
                    .catalog__name Десерты
            .catalog__item-wrap
                a(href="#").catalog__item.catalog__item--drink
                    .catalog__name Напитки
        .social
            a.social__item(href="#")
                svg.icon
                    use(xlink:href='img/icons/instagram.svg#instagram')
            a.social__item(href="#")
                svg.icon
                    use(xlink:href='img/icons/facebook.svg#fb')
            a.social__item(href="#")
                svg.icon
                    use(xlink:href='img/icons/vk.svg#vk')