header
	.wrap
		.nav
			.logo
				img(src="img/logo.svg", alt="logo")
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					.main-menu__wrap
						ul.main-menu__items
							li.active
								a(href="#") Акции
							li
								a(href="#") Доставка
							li
								a(href="#") Заказ столика
							li
								a(href="#") Отзывы
							li
								a(href="#") Контакты
						.header__location Нижний Новгород
						.header__group
							.header__contacts
								a(href="tel:+79263653232").header__phone +7 926 365 32 32
								a(href="#modalPhone").modal-open.header__order Заказать звонок 
							.header__cart.active
								svg.icon
									use(xlink:href='img/icons/cart.svg#cart')


