section.home.promo-home
    .wrap
        .promo-home__body
            .promo-home__title
                span.time_of_day_hello
                span.promo-home__hash.letters #работаемдома, 
                br
                span.promo-home__title--accent.letters создаем сайты, 
                span.promo-home__title--other 
                    span.letters которые 
                    span.br-desctop.letters приносят прибыль
            .promo-home__links
                a(href="quiz.html").move-btn.animated Разработка сайта
                //- a(href="#").move-btn.animated Настройка рекламы
                a(href="dev.html").move-btn.animated Антикризисные меры
                //- a(href="#").move-btn.animated Сопровождение 1С Битрикс
            .promo-home__text.animated-parent
                //- span.promo-home--bold Azbuka Digital - <span class="br-mob"><br></span>
                //- | команда, команда, которая знает, что дальше.  <span class="br-mob"><br></span>Посмотрите 
                //- a(href="#").promo-home__link наши работы
                //- | и просто 
                //- a(href="#").promo-home__link позвоните нам.
                span Выстраиваем умные системы привлечения прибыли в бизнес – один раз и надолго. 
                <span class="br-mob"><br></span> 
                span.accent-color
                    span.letters Landing Page 
                    <span class="br-mob"><br></span> 
                    span.plus-mob.letters +
                    <span class="br-mob"><br></span> 
                    span.letters трафик 
                    <span class="br-mob"><br></span> 
                    span.plus-mob.letters +
                    <span class="br-mob"><br></span> 
                    span.letters CRM 
                    <span class="br-mob"><br></span> 
                    span.plus-mob.letters +
                    <span class="br-mob"><br></span> 
                    span.letters Продажи  





